## Pandas

Pandas is a Python library used for data manipulation and analysis. It provides data structures and functions needed to work with structured data, such as data frames and series.

### Two main data structures in Pandas

- **Series**: A one-dimensional labeled array.
- **DataFrame**: A two-dimensional labeled data structure with columns of potentially different types.

A **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns) in Python. It is a fundamental data structure in the pandas library, which is widely used for data manipulation and analysis.

### Key Features of a DataFrame:
- **Two-Dimensional:** Data is organized in rows and columns, much like a table in a database or an Excel spreadsheet.
- **Labeled Axes:** Both rows and columns have labels, which are used for accessing and modifying data.
- **Heterogeneous Data:** Each column in a DataFrame can contain data of different types (e.g., integers, floats, strings).
- **Size-Mutable:** You can add or remove rows and columns as needed.
- **Missing Data Handling:** DataFrames have built-in methods for dealing with missing data, such as NaN values.

In [5]:
import pandas as pd
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
print((df))

    Name  Age
0  Alice   25
1    Bob   30

### Common Operations:

- **Selection:** Accessing specific rows and columns using labels or index positions.
- **Filtering:** Applying conditions to filter rows.
- **Aggregation:** Performing statistical operations like sum, mean, etc., on data.
- **Merging/Joining:** Combining multiple DataFrames.
- **Reshaping:** Changing the structure of the DataFrame (e.g., pivoting).

We have taken a movie dataset and we will work on that

In [6]:
# Path to the uploaded CSV file
file_path = '/kaggle/input/movies/Hydra-Movie-Scrape.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df.head())

# This By default returns the first 5 rows.

                                               Title  Year  \
0                        Patton Oswalt: Annihilation  2017
1                                      New York Doll  2005
2  Mickey's Magical Christmas: Snowed in at the H...  2001
3                         Mickey's House of Villains  2001
4                                      And Then I Go  2017

                                             Summary  \
0  Patton Oswald, despite a personal tragedy, pro...
1  A recovering alcoholic and recently converted ...
2  After everyone is snowed in at the House of Mo...
3  The villains from the popular animated Disney ...
4  In the cruel world of junior high, Edwin suffe...

                                       Short Summary  \
0  Patton Oswalt, despite a personal tragedy, pro...
1  A recovering alcoholic and recently converted ...
2  Mickey and all his friends hold their own Chri...
3  The villains from the popular animated Disney ...
4  In the cruel world of junior high, Edwin suffe...

                                      Genres    IMDB ID  Runtime  \
0                              Uncategorized  tt7026230       66
1                          Documentary|Music  tt0436629       75
2  Adventure|Animation|Comedy|Family|Fantasy  tt0300195       65
3     Animation|Comedy|Family|Fantasy|Horror  tt0329374        0
4                                      Drama  tt2018111       99

  YouTube Trailer  Rating                                       Movie Poster  \
0     4hZi5QaMBFc     7.4  https://hydramovies.com/wp-content/uploads/201...
1     jwD04NsnLLg     7.9  https://hydramovies.com/wp-content/uploads/201...
2     uCKwHHftrU4     6.8  https://hydramovies.com/wp-content/uploads/201...
3     JA03ciYt-Ek     6.6  https://hydramovies.com/wp-content/uploads/201...
4     8CdIiD6-iF0     7.6  https://hydramovies.com/wp-content/uploads/201...

            Director        Writers                            Cast
0  Bobcat Goldthwait  Patton Oswalt                   Patton Oswalt
1      Greg Whiteley    Arthur Kane                 Sylvain Sylvain
2         Tony Craig    Thomas Hart  Carlos Alazraqui|Wayne Allwine
3     Jamie Mitchell    Thomas Hart      Tony Anselmo|Wayne Allwine
4    Vincent Grashaw    Brett Haley        Arman Darbo|Sawyer Barth

Display all column names

In [7]:
column_names = df.columns
print(column_names)

Index(['Title', 'Year', 'Summary', 'Short Summary', 'Genres', 'IMDB ID',
       'Runtime', 'YouTube Trailer', 'Rating', 'Movie Poster', 'Director',
       'Writers', 'Cast'],
      dtype='object')

In [8]:
num_rows, num_columns = df.shape
print(f'Number of rows: {num_rows}')
print(f'Number of columns: {num_columns}')

Number of rows: 3940
Number of columns: 13

Filter movies that came after 2017

In [9]:
filtered_df = df[df['Year'] > 2017]
print(filtered_df)

                           Title  Year  \
6                   Peter Rabbit  2018
10               Forever My Girl  2018
11       Tom Segura: Disgraceful  2018
15    Suicide Squad: Hell to Pay  2018
16                      Wildling  2018
...                          ...   ...
3923                   Hurricane  2018
3924         Destination Wedding  2018
3934             Office Uprising  2018
3935                  Skyscraper  2018
3939                         UFO  2018

                                                Summary  \
6     Based on the books by Beatrix Potter: Peter Ra...
10    After being gone for a decade a country star r...
11    Comedian Tom Segura rants about funny things a...
15    Task Force X targets a powerful mystical objec...
16    Anna spends her entire childhood under the car...
...                                                 ...
3923  1940. Great Britain stands alone in Europe aga...
3924  The story of two miserable and unpleasant wedd...
3934  An employee at a weapons factory discovers tha...
3935  FBI Hostage Rescue Team leader and U.S. war ve...
3939  Derek (Alex Sharp) a brilliant college student...

                                          Short Summary  \
6     Feature adaptation of Beatrix Potter's classic...
10    After being gone for a decade a country star r...
11    Comedian Tom Segura rants about funny things a...
15    Task Force X targets a powerful mystical objec...
16    A blossoming teenager uncovers the dark secret...
...                                                 ...
3923  Hurricane (Squadron 303) is the story of a gro...
3924  The story of two miserable and unpleasant wedd...
3934  An employee at a weapons factory discovers tha...
3935  A security expert must infiltrate a burning sk...
3939  A college student, who sees a UFO, uses his ex...

                                         Genres    IMDB ID  Runtime  \
6     Adventure|Animation|Comedy|Family|Fantasy  tt5117670       95
10                          Drama|Music|Romance  tt4103724      108
11                           Comedy|Documentary  tt7379330        0
15                             Action|Animation  tt7167602       86
16                               Fantasy|Horror  tt5085924       92
...                                         ...        ...      ...
3923                                  Drama|War  tt7515456      107
3924                       Comedy|Drama|Romance  tt6987770       90
3934                       Action|Comedy|Horror  tt6251024       92
3935                            Action|Thriller  tt5758778      102
3939                     Action|Sci-Fi|Thriller  tt6290798       88

     YouTube Trailer  Rating  \
6        7Pa_Weidt08     6.6
10       3vqcMr1q5Uc     6.4
11       kYYINJM3lPA     7.5
15       EPZZvk-wbGE     7.2
16       eyl1Wf90AgY     6.1
...              ...     ...
3923     6s2poY9gTLE     6.0
3924     _jrhye68b3M     6.2
3934     IfKhTnK_IBA     6.9
3935     t9QePUT-Yt8     6.0
3939     gxUcHrPhewY     6.2

                                           Movie Poster  \
6     https://hydramovies.com/wp-content/uploads/201...
10    https://hydramovies.com/wp-content/uploads/201...
11    https://hydramovies.com/wp-content/uploads/201...
15    https://hydramovies.com/wp-content/uploads/201...
16    https://hydramovies.com/wp-content/uploads/201...
...                                                 ...
3923  https://hydramovies.com/wp-content/uploads/201...
3924  https://hydramovies.com/wp-content/uploads/201...
3934  https://hydramovies.com/wp-content/uploads/201...
3935  https://hydramovies.com/wp-content/uploads/201...
3939  https://hydramovies.com/wp-content/uploads/201...

                     Director                  Writers  \
6                  Will Gluck               Rob Lieber
10        Bethany Ashton Wolf      Bethany Ashton Wolf
11                  Jay Karas               Tom Segura
15                    Sam Liu             Alan Burnett
16                 Fritz Böhm               Fritz Böhm
...                       ...                      ...
3923              David Blair       Alastair Galbraith
3924             Victor Levin             Victor Levin
3934               Lin Oeding    Peter Gamble Robinson
3935  Rawson Marshall Thurber  Rawson Marshall Thurber
3939            Ryan Eslinger            Ryan Eslinger

                                           Cast
6                    Fayssal Bazzi|James Corden
10    Abby Ryder Fortson|Alex Roe|Jessica Rothe
11                                   Tom Segura
15            Christian Slater|Vanessa Williams
16             Bel Powley|Brad Dourif|Liv Tyler
...                                         ...
3923    Iwan Rheon|Milo Gibson|Stefanie Martini
3924    Dj Dallenbach|Keanu Reeves|Winona Ryder
3934      Brenton Thwaites|Jane Levy|Karan Soni
3935      Chin Han|Dwayne Johnson|Neve Campbell
3939    Alex Sharp|Benjamin Beatty|Ella Purnell

[231 rows x 13 columns]

Selections in Pandas refer to the various ways you can access, filter, or subset data within a DataFrame or Series. Here’s an overview of the different selection techniques:

### 1\. **Selecting Columns**

*   Single column

In [10]:
df['Title'].head(10) # returns series, head() to limit to 10 rows.

0                          Patton Oswalt: Annihilation
1                                        New York Doll
2    Mickey's Magical Christmas: Snowed in at the H...
3                           Mickey's House of Villains
4                                        And Then I Go
5                             An Extremely Goofy Movie
6                                         Peter Rabbit
7                                           Love Songs
8                                                   89
9                                       The Foster Boy
Name: Title, dtype: object

* Multiple Columns

In [11]:
df[['Title', 'Year']].head(10)  # Returns a DataFrame

                                               Title  Year
0                        Patton Oswalt: Annihilation  2017
1                                      New York Doll  2005
2  Mickey's Magical Christmas: Snowed in at the H...  2001
3                         Mickey's House of Villains  2001
4                                      And Then I Go  2017
5                           An Extremely Goofy Movie  2000
6                                       Peter Rabbit  2018
7                                         Love Songs  2007
8                                                 89  2017
9                                     The Foster Boy  2011

### 1\. **Selecting Rows**

*   By Index

In [12]:
df.loc[15]  # Selects a row by its index label

Title                                     Suicide Squad: Hell to Pay
Year                                                            2018
Summary            Task Force X targets a powerful mystical objec...
Short Summary      Task Force X targets a powerful mystical objec...
Genres                                              Action|Animation
IMDB ID                                                    tt7167602
Runtime                                                           86
YouTube Trailer                                          EPZZvk-wbGE
Rating                                                           7.2
Movie Poster       https://hydramovies.com/wp-content/uploads/201...
Director                                                     Sam Liu
Writers                                                 Alan Burnett
Cast                               Christian Slater|Vanessa Williams
Name: 15, dtype: object

### 3\. **Selecting Rows and Columns Together**

In [13]:
a = df.loc[15, 'Title']# Select a specific cell by row label and column name
b = df.loc[15, ['Title', 'Year']]  # Select specific row and multiple columns
c = df.loc[:, ['Title', 'Year']].head(10)  # Select all rows but specific columns

print(a)
print("**********************")
print(b)
print("**********************")
print(c)

Suicide Squad: Hell to Pay
**********************
Title    Suicide Squad: Hell to Pay
Year                           2018
Name: 15, dtype: object
**********************
                                               Title  Year
0                        Patton Oswalt: Annihilation  2017
1                                      New York Doll  2005
2  Mickey's Magical Christmas: Snowed in at the H...  2001
3                         Mickey's House of Villains  2001
4                                      And Then I Go  2017
5                           An Extremely Goofy Movie  2000
6                                       Peter Rabbit  2018
7                                         Love Songs  2007
8                                                 89  2017
9                                     The Foster Boy  2011

### 4\. **Boolean Indexing (Conditional Selection)**

*   Select Rows based on a condition

In [14]:
df[df['Year'] > 2015].head(10)  # Select rows where the condition is True

,Title,Year,Summary,Short Summary,Genres,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,Writers,Cast
0,Patton Oswalt: Annihilation,2017,"Patton Oswald, despite a personal tragedy, pro...","Patton Oswalt, despite a personal tragedy, pro...",Uncategorized,tt7026230,66,4hZi5QaMBFc,7.4,https://hydramovies.com/wp-content/uploads/201...,Bobcat Goldthwait,Patton Oswalt,Patton Oswalt
4,And Then I Go,2017,"In the cruel world of junior high, Edwin suffe...","In the cruel world of junior high, Edwin suffe...",Drama,tt2018111,99,8CdIiD6-iF0,7.6,https://hydramovies.com/wp-content/uploads/201...,Vincent Grashaw,Brett Haley,Arman Darbo|Sawyer Barth
6,Peter Rabbit,2018,Based on the books by Beatrix Potter: Peter Ra...,Feature adaptation of Beatrix Potter's classic...,Adventure|Animation|Comedy|Family|Fantasy,tt5117670,95,7Pa_Weidt08,6.6,https://hydramovies.com/wp-content/uploads/201...,Will Gluck,Rob Lieber,Fayssal Bazzi|James Corden
8,89,2017,89 tells the incredible story of one of footba...,"The true story of a sporting miracle, when Ars...",Uncategorized,tt7614404,91,5hfAExhHTMM,8.1,https://hydramovies.com/wp-content/uploads/201...,Dave Stewart,Lee Dixon,Ian Wright
10,Forever My Girl,2018,After being gone for a decade a country star r...,After being gone for a decade a country star r...,Drama|Music|Romance,tt4103724,108,3vqcMr1q5Uc,6.4,https://hydramovies.com/wp-content/uploads/201...,Bethany Ashton Wolf,Bethany Ashton Wolf,Abby Ryder Fortson|Alex Roe|Jessica Rothe
11,Tom Segura: Disgraceful,2018,Comedian Tom Segura rants about funny things a...,Comedian Tom Segura rants about funny things a...,Comedy|Documentary,tt7379330,0,kYYINJM3lPA,7.5,https://hydramovies.com/wp-content/uploads/201...,Jay Karas,Tom Segura,Tom Segura
14,Silent Night,2017,Adam unexpectedly visits his family house at C...,Adam unexpectedly visits his family house at C...,Comedy|Drama,tt7133554,100,cA6BUYVkQoE,7.5,https://hydramovies.com/wp-content/uploads/201...,Piotr Domalewski,Piotr Domalewski,Agnieszka Suchora|Dawid Ogrodnik|Tomasz Zietek
15,Suicide Squad: Hell to Pay,2018,Task Force X targets a powerful mystical objec...,Task Force X targets a powerful mystical objec...,Action|Animation,tt7167602,86,EPZZvk-wbGE,7.2,https://hydramovies.com/wp-content/uploads/201...,Sam Liu,Alan Burnett,Christian Slater|Vanessa Williams
16,Wildling,2018,Anna spends her entire childhood under the car...,A blossoming teenager uncovers the dark secret...,Fantasy|Horror,tt5085924,92,eyl1Wf90AgY,6.1,https://hydramovies.com/wp-content/uploads/201...,Fritz Böhm,Fritz Böhm,Bel Powley|Brad Dourif|Liv Tyler
17,The Humanity Bureau,2017,A dystopian thriller set in the year 2030 that...,A dystopian thriller set in the year 2030 that...,Action|Sci-Fi,tt6143568,95,kUH8JGhRzPY,6.1,https://hydramovies.com/wp-content/uploads/201...,Rob W. King,Dave Schultz,Jakob Davies|Nicolas Cage|Sarah Lind

* Multiple Conditions

In [15]:
df[(df['Year'] > 2015) & (df['Rating'] > 8)]  # Using & (and)
# df[(df['Year'] > 2015) | (df['Rating'] < 8)]  # Using | (or)

,Title,Year,Summary,Short Summary,Genres,IMDB ID,Runtime,YouTube Trailer,Rating,Movie Poster,Director,Writers,Cast
8,89,2017,89 tells the incredible story of one of footba...,"The true story of a sporting miracle, when Ars...",Uncategorized,tt7614404,91,5hfAExhHTMM,8.1,https://hydramovies.com/wp-content/uploads/201...,Dave Stewart,Lee Dixon,Ian Wright
21,Andre the Giant,2018,A look at the life and career of professional ...,A look at the life and career of professional ...,Documentary,tt6543420,85,f_jTeuajas0,8.2,https://hydramovies.com/wp-content/uploads/201...,Jason Hehir,Robin Wright,Cary Elwes
125,Chasing Coral,2017,Coral reefs around the world are vanishing at ...,Coral reefs around the world are vanishing at ...,Documentary,tt6333054,93,b6fHA9R2cKI,8.1,https://hydramovies.com/wp-content/uploads/201...,Jeff Orlowski,Davis Coombe,Andrew Ackerman|Pim Bongaerts
127,The Farthest,2017,Is it humankind's greatest achievement? 12 bil...,It is one of humankind's greatest achievements...,Documentary|History,tt6223974,121,znTdk_de_K8,8.1,https://hydramovies.com/wp-content/uploads/201...,Emer Reynolds,Emer Reynolds,Carolyn Porco|Frank Drake|John Casani
186,Your Name,2016,Mitsuha is the daughter of the mayor of a smal...,Two strangers find themselves linked in a biza...,Animation|Drama|Fantasy|Romance,tt5311514,106,VgixlvX28-g,8.4,https://hydramovies.com/wp-content/uploads/201...,Makoto Shinkai,Makoto Shinkai,Mone Kamishiraishi|Ryûnosuke Kamiki
192,"Three Billboards Outside Ebbing, Missouri",2017,"THREE BILLBOARDS OUTSIDE EBBING, MISSOURI is a...",A mother personally challenges the local autho...,Crime|Drama,tt5027774,115,Jit3YhGx5pU,8.2,https://hydramovies.com/wp-content/uploads/201...,Martin McDonagh,Martin McDonagh,Frances McDormand|Sam Rockwell|Woody Harrelson
221,Coco,2017,Despite his family's baffling generations-old ...,"Aspiring musician Miguel, confronted with his ...",Adventure|Animation|Comedy|Family|Fantasy,tt2380307,0,6Zxj9q8Yjdw,8.5,https://hydramovies.com/wp-content/uploads/201...,Lee Unkrich,Lee Unkrich,Anthony Gonzalez|Gael García Bernal
238,Cuba and the Cameraman,2017,Life in Cuba for three struggling families ove...,Life in Cuba for three struggling families ove...,Documentary,tt7320560,113,lsZ8hDutkeM,8.2,https://hydramovies.com/wp-content/uploads/201...,Jon Alpert,Jon Alpert,NaN
260,Blade Runner 2049,2017,Thirty years after the events of the first fil...,A young blade runner's discovery of a long-bur...,Drama|Mystery|Sci-Fi|Thriller,tt1856101,164,gCcx85zbxz4,8.1,https://hydramovies.com/wp-content/uploads/201...,Denis Villeneuve,Hampton Fancher,Harrison Ford|Ryan Gosling
439,Logan,2017,In 2029 the mutant population has shrunken sig...,"In the near future, a weary Logan cares for an...",Action|Drama|Sci-Fi|Thriller,tt3315342,137,DekuSxJgpbY,8.1,https://hydramovies.com/wp-content/uploads/201...,James Mangold,James Mangold,Hugh Jackman|Patrick Stewart
461,La La Land,2016,Aspiring actress serves lattes to movie stars ...,"While navigating their careers in Los Angeles,...",Action|Comedy|Drama|Music|Musical,tt3783958,128,0pdqf4P9MB8,8.1,https://hydramovies.com/wp-content/uploads/201...,Damien Chazelle,Damien Chazelle,Emma Stone|Rosemarie DeWitt|Ryan Gosling
470,Lion,2016,"In 1986, Saroo was a five-year-old child in In...",A five-year-old Indian boy gets lost on the st...,Biography|Drama,tt3741834,118,-RNI9o06vqo,8.1,https://hydramovies.com/wp-content/uploads/201...,Garth Davis,Saroo Brierley,Dev Patel|Nicole Kidman|Rooney Mara
499,Hacksaw Ridge,2016,"The true story of Desmond T. Doss, the conscie...",World War II American Army Medic Desmond T. Do...,Action|Biography|Drama|History|War,tt2119532,139,s2-1hz1juBI,8.2,https://hydramovies.com/wp-content/uploads/201...,Mel Gibson,Robert Schenkkan,Andrew Garfield|Luke Bracey|Sam Worthington
527,Miss Saigon: 25th Anniversary,2016,A filmed production of the musical 'Miss Saigo...,A filmed production of the musical 'Miss Saigo...,Action|Musical,tt6162808,141,nj9lxgsSTT4,8.1,https://hydramovies.com/wp-content/uploads/201...,Brett Sullivan,Alain Boublil,Alistair Brammer|Eva Noblezada|Jon Jon Briones
2813,Dangal,2016,"Biopic of Mahavir Singh Phogat, who taught wre...",Former wrestler Mahavir Singh Phogat and his t...,Action|Biography|Drama|Sport,tt5074352,161,x_7YlGv9u1g,8.5,https://hydramovies.com/wp-content/uploads/201...,Nitesh Tiwari,Piyush Gupta,Aamir Khan|Sakshi Tanwar
3426,The Mountain II,2016,DAG II; tells the story of a clandestine speci...,In a desolate war zone where screams of the in...,Drama|War,tt5813916,135,jpByS8cbcVA,9.5,https://hydramovies.com/wp-content/uploads/201...,Alper Caglar,Alper Caglar,Bedii Akin|Murat Arkin|Ozan Agaç
3434,What Lies Upstream,2017,"In this classic detective story, investigative...","In this scandalous political thriller, an inve...",Documentary|Mystery,tt5165878,85,saDtU_-H_xY,8.6,https://hydramovies.com/wp-content/uploads/201...,Cullen Hoback,Cullen Hoback,Dr. Marc Edwards|Dr. Mona Hanna-Attisha|Dr. Ra...
3465,Tawai: A voice from the forest,2017,Tawai is the word the nomadic hunter gatherers...,"Explorer Bruce Parry travels the world, living...",Documentary,tt3638960,101,4ZJEMYjsPqI,8.1,https://hydramovies.com/wp-content/uploads/201...,Bruce Parry,Véronique Cabois,Bruce Parry|Ingrid Lewis
3466,Eagles of Death Metal: Nos Amis,2017,"A little over a year ago, nine terrorists drov...","A little over a year ago, nine terrorists drov...",Documentary|Music,tt6212934,0,YRysoVz4JZk,8.1,https://hydramovies.com/wp-content/uploads/201...,Colin Hanks,Jesse Hughes,Dave Catching
3502,Isle of Dogs,2018,An outbreak of dog flu has spread through the ...,"Set in Japan, Isle of Dogs follows a boy's ody...",Adventure|Animation|Comedy|Drama|Fantasy,tt5104604,101,dt__kig8PVU,8.2,https://hydramovies.com/wp-content/uploads/201...,Wes Anderson,Wes Anderson,Bryan Cranston|Koyu Rankin
3636,Strokes of Genius,2018,The film intertwines Roger Federer and Rafael ...,The film intertwines Roger Federer and Rafael ...,Documentary,tt8638420,98,q2UYQJmMIxc,8.2,https://hydramovies.com/wp-content/uploads/201...,Andrew Douglas,Yves Allegro,Björn Borg
3640,Robin Williams: Come Inside My Mind,2018,This intimate portrait examines one of the wor...,An intimate look into the life and work of the...,Documentary,tt7689966,0,caIFNg_JRL4,8.2,https://hydramovies.com/wp-content/uploads/201...,Marina Zenovich,Robin Williams,Robert Altman
3647,Parmanu: The Story of Pokhran,2018,A look at India's second confidential nuclear ...,A look at India's second confidential nuclear ...,Action|Drama|History,tt6826438,129,XQFb12N0Arc,8.4,https://hydramovies.com/wp-content/uploads/201...,Abhishek Sharma,Sanyukta Shaikh Chawla,Boman Irani|John Abraham
3682,Baahubali 2: The Conclusion,2017,"When Shiva, the son of Bahubali, learns about ...","When Shiva, the son of Bahubali, learns about ...",Action|Drama|Fantasy,tt4849438,167,qD-6d8Wo3do,8.4,https://hydramovies.com/wp-content/uploads/201...,S.S. Rajamouli,Vijayendra Prasad,Prabhas|Rana Daggubati
3713,The Handmaiden,2016,"1930s Korea, in the period of Japanese occupat...",A woman is hired as a handmaiden to a Japanese...,Crime|Drama|Mystery|Romance|Thriller,tt4016934,144,whldChqCsYk,8.1,https://hydramovies.com/wp-content/uploads/201...,Chan-wook Park,Sarah Waters,Jung-woo Ha|Min-hee Kim
3716,Avengers: Infinity War,2018,As the Avengers and their allies have continue...,The Avengers and their allies must be willing ...,Action|Adventure|Fantasy|Sci-Fi,tt4154756,149,6ZfuNTqbHE8,8.7,https://hydramovies.com/wp-content/uploads/201...,Anthony Russo,Christopher Markus,Chris Hemsworth|Robert Downey Jr.
3762,A Silent Voice,2016,"The story revolves around Nishimiya Shoko, a g...",A young man is ostracized by his classmates af...,Animation|Drama|Family|Romance,tt5323662,130,twUSlecQpGQ,8.2,https://hydramovies.com/wp-content/uploads/201...,Naoko Yamada,Yoshitoki Oima,Miyu Irino|Saori Hayami
3797,Won't You Be My Neighbor?,2018,Charmingly soft-spoken and yet powerfully inci...,"An exploration of the life, lessons, and legac...",Biography|Documentary,tt7681902,94,FhwktRDG_aQ,8.7,https://hydramovies.com/wp-content/uploads/201...,Morgan Neville,Morgan Neville,Betty Aberlin|David Bianculli|Joanne Rogers
3807,Secret Superstar,2017,Insia is very passionate about singing but she...,Insia is a 14 year-old from Vadodara who dream...,Drama|Music,tt6108090,150,P6jaRsnchro,8.1,https://hydramovies.com/wp-content/uploads/201...,Advait Chandan,Advait Chandan,Meher Vij|Raj Arjun|Zaira Wasim
3827,Padman,2018,Biography on Tamil Nadu activist Arunachalam M...,Upon realizing the extent to which women are a...,Biography|Drama,tt7218518,140,-K9ujx8vO_A,8.1,https://hydramovies.com/wp-content/uploads/201...,R. Balki,Swanand Kirkire,Akshay Kumar|Radhika Apte|Sonam Kapoor

### 5\. **Selecting With Query**

In [16]:
# This will filter titles that start with a letter 'P' alphabetically
# df_filtered = df[df['Title'].str[0] == 'P']

# get only title and year column not whole rows
df_filtered = df.query("Title.str[0] == 'P'")[['Title', 'Year', 'Rating']].head(10)
print(df_filtered)

                           Title  Year  Rating
0    Patton Oswalt: Annihilation  2017     7.4
6                   Peter Rabbit  2018     6.6
32             Perfect Strangers  2017     7.0
33                       Paterno  2018     6.6
41            Petals on the Wind  2014     6.3
66                Phantom Thread  2017     7.7
115                      Prodigy  2017     6.6
116              Pitch Perfect 3  2017     6.0
119              Pan's Labyrinth  2006     8.2
124                 Paddington 2  2017     8.0

In [17]:
# for Multiple Conditions
df_filtered = df.query("Title.str[0] == 'P' and Rating > 7")[['Title','Rating']].head(10)  # Multiple conditions
print(df_filtered)

                                                 Title  Rating
0                          Patton Oswalt: Annihilation     7.4
66                                      Phantom Thread     7.7
119                                    Pan's Labyrinth     8.2
124                                       Paddington 2     8.0
244  Phineas and Ferb the Movie: Across the 2nd Dim...     7.5
255             Professor Marston and the Wonder Women     7.1
432                                   Peaceful Warrior     7.3
472                                           Paterson     7.4
475                                       Patriots Day     7.4
654                            Pelé: Birth of a Legend     7.2

### 6\. **Selecting Specific Columns Using Column Name Patterns**

*   **Using .filter()**

In [18]:
df.filter(like='er')  # Selects columns with names containing 'substring'
# df.filter(regex='regex_pattern')  # Selects columns based on a regular expression

,YouTube Trailer,Movie Poster,Writers
0,4hZi5QaMBFc,https://hydramovies.com/wp-content/uploads/201...,Patton Oswalt
1,jwD04NsnLLg,https://hydramovies.com/wp-content/uploads/201...,Arthur Kane
2,uCKwHHftrU4,https://hydramovies.com/wp-content/uploads/201...,Thomas Hart
3,JA03ciYt-Ek,https://hydramovies.com/wp-content/uploads/201...,Thomas Hart
4,8CdIiD6-iF0,https://hydramovies.com/wp-content/uploads/201...,Brett Haley
...,...,...,...
3935,t9QePUT-Yt8,https://hydramovies.com/wp-content/uploads/201...,Rawson Marshall Thurber
3936,bVDGukfxFAk,https://hydramovies.com/wp-content/uploads/201...,Matt Booi
3937,bv0Eh2VhTTA,https://hydramovies.com/wp-content/uploads/201...,Joseph Nasser
3938,8TKLR1_JVLU,https://hydramovies.com/wp-content/uploads/201...,Mark Zakarin
3939,gxUcHrPhewY,https://hydramovies.com/wp-content/uploads/201...,Ryan Eslinger

### Filtering in Pandas: Overview and Methods

**Filtering** in Pandas involves selecting a subset of rows from a DataFrame based on specific conditions. It’s a fundamental operation for data analysis, allowing you to isolate the data you need for further processing or analysis.

**Methods**:

*   **Single Condition Filtering**:
    
    *   Select rows based on a condition applied to one column (e.g., all rows where a column value is above a threshold).
        
*   **Multiple Condition Filtering**:
    
    *   Combine conditions using logical operators like AND (&), OR (|), and NOT (~) to refine the selection.
        
*   **String-Based Filtering**:
    
    *   Filter rows based on string patterns, such as whether a string starts with, ends with, or contains a certain substring.
        
*   **Filtering with .isin()**:
    
    *   Select rows where a column’s value is in a list of specific values.
        
*   **Range Filtering with .between()**:
    
    *   Filter rows where a column’s value lies within a specific range.
        
*   **SQL-like Filtering with query()**:
    
    *   Use a more readable, SQL-like syntax to filter DataFrames based on conditions.
        
*   **Handling Missing Data**:
    
    *   Filter out rows with missing data using .isnull(), .notnull(), and .dropna().
        
*   **Filtering Duplicates**:
    
    *   Identify and filter out duplicate rows based on one or more columns.
        
*   **Top/Bottom N Filtering**:
    
    *   Select the largest or smallest N values in a column using .nlargest() and .nsmallest().

### Grouping in Pandas

**Grouping** in Pandas allows you to aggregate and analyze data by grouping it based on one or more columns. This is useful for summarizing data and performing calculations on subsets of your dataset.

#### Key Points:

1.  **Key Functions**:
    
    *   **groupby()**: Main function to group data by one or more columns.
        
    *   **Aggregation Functions**: Functions like sum(), mean(), count(), min(), max(), etc., to calculate statistics on each group.
        
    *   **Transformation Functions**: Functions like transform() and apply() to perform operations on each group.
        
2.  **Common Operations**:
    
    *   **Grouping by Columns**: Group data based on values in one or more columns.
        
    *   **Applying Aggregations**: Calculate statistics like mean, sum, or count for each group.
        
    *   **Filtering Groups**: Apply conditions to filter groups based on aggregate results

In [19]:
# Dummy Data
data = {
    'Department': ['HR', 'HR', 'Finance', 'Finance', 'IT', 'IT', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Salary': [70000, 75000, 80000, 85000, 90000, 95000, 100000],
    'Experience': [2, 5, 7, 8, 3, 6, 9]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Experience
0         HR    Alice   70000           2
1         HR      Bob   75000           5
2    Finance  Charlie   80000           7
3    Finance    David   85000           8
4         IT      Eve   90000           3
5         IT    Frank   95000           6
6         IT    Grace  100000           9

#### Q1. Group by Department and compute the sum salary and exp for each department

In [20]:
grouped_df = df.groupby('Department').sum()
print("\nGrouped DataFrame:")
print(grouped_df)

Grouped DataFrame:
                 Employee  Salary  Experience
Department
Finance      CharlieDavid  165000          15
HR               AliceBob  145000           7
IT          EveFrankGrace  285000          18

#### Q2. Group by dept and get mean of salary and experience?

In [28]:
g = df.groupby('Department')
c = g[['Salary', 'Experience']].mean()
print(c)

             Salary  Experience
Department
Finance     82500.0         7.5
HR          72500.0         3.5
IT          95000.0         6.0

#### Q3. Add a new column that shows mean salary of each dept

In [32]:
df['Mean_Salary'] = g['Salary'].transform('mean')
print(df)

  Department Employee  Salary  Experience  Mean_Salary
0         HR    Alice   70000           2      72500.0
1         HR      Bob   75000           5      72500.0
2    Finance  Charlie   80000           7      82500.0
3    Finance    David   85000           8      82500.0
4         IT      Eve   90000           3      95000.0
5         IT    Frank   95000           6      95000.0
6         IT    Grace  100000           9      95000.0

In pandas, merging is the process of combining two or more DataFrames based on a common key or index. It is similar to SQL joins and allows you to integrate data from different sources into a single DataFrame.

### Key Points:

*   **merge() Function**: The primary function used for merging DataFrames.
    
*   **Keys**: Merging is done based on common columns (keys) or indices.
    
*   **Types of Joins**: Supports different join types such as inner, outer, left, and right joins.
    

For example, merging can combine employee details from one DataFrame with department information from another based on a common 'Department\_ID'

In [34]:
department_data = {
    'Department': ['HR', 'Finance', 'IT'],
    'Department_ID': [10, 20, 30],
    'Location': ['Building A', 'Building B', 'Building C']
}

df_department = pd.DataFrame(department_data)

# Merge the two DataFrames on the 'Department' column
merged_df = pd.merge(df, df_department, on='Department', how='inner')

print(merged_df)

  Department Employee  Salary  Experience  Mean_Salary  Department_ID  \
0         HR    Alice   70000           2      72500.0             10
1         HR      Bob   75000           5      72500.0             10
2    Finance  Charlie   80000           7      82500.0             20
3    Finance    David   85000           8      82500.0             20
4         IT      Eve   90000           3      95000.0             30
5         IT    Frank   95000           6      95000.0             30
6         IT    Grace  100000           9      95000.0             30

     Location
0  Building A
1  Building A
2  Building B
3  Building B
4  Building C
5  Building C
6  Building C

In the above code:
*   **on='Department'**: Specifies that the merging should be done based on the Department column, which is common in both DataFrames.
    
*   **how='inner'**: Specifies an inner join, meaning that only the rows with matching Department values in both DataFrames will be included in the merged result.